# 1 Api request for comments from Reddit with praw

## 1.1 imports

In [1]:
import praw
import pandas as pd

## 1.2 Authentification from the API

In [2]:
reddit = praw.Reddit(
    client_id="azcpew4IUjb24q9tL3r2qA",
    client_secret="_R-6HiTRzCgDeyGJ7luEhv0zBh2Tqg",
    user_agent="YANA_script (by u/prutonn)",
)

## 1.3 Request for comments

In [3]:
post = reddit.submission(id='mo0fd8')
post.comments.replace_more(limit=None)

[]

## 1.4 Tranform request into df

In [4]:
comments = {}

In [5]:
index = 0
for comment in post.comments.list():
    comments[index] = [
        comment.id,
        comment.author,
        comment.body,
        comment.ups,
        comment.link_id
        ]
    index +=1

In [6]:
df = pd.DataFrame.from_dict(comments,orient='index' ,columns=['id','author','body','ups','post_id'])

In [7]:
df.head()

,id,author,body,ups,post_id
0,gu2horj,sporks5000,"Your thoughts and concerns are valid, and I'm ...",2,t3_mo0fd8
1,gwehj3u,me_bell,You were right all along....,2,t3_mo0fd8

# 2 test withe the data

In [12]:
df.body[0]

"Your thoughts and concerns are valid, and I'm sorry we live in a world where that is the case."

In [13]:
len(df.body[0])

94

# 3 data manipulation

In [14]:
for index, row in df.iterrows():
    body = row['body']
    if len(body) <= 72 :
        df_ = df.drop(index)

df_

,id,author,body,ups,post_id
0,gu2horj,sporks5000,"Your thoughts and concerns are valid, and I'm ...",2,t3_mo0fd8